<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Static/CSS/estilos_main.css">
    <title>UAQUIFY - Transmisión de música</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Static/img/UAQUIFY.png" alt="" width="200px" height="65px">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Premium</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Descargar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Templates/register.html">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Templates/login.html">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body>  
      <!-- Page Content -->
      <div class="container">
        <div class="fixed-">
          <h1 class="mt-3">Reproduce música ilimitada</h1>
          <h3 class="mt-3">Millones de canciones en cualquier momento y en cualquier lugar.</h3>
          <h3 class="mt-3">Siempre sin publicidad.</h3>
          <div class="d mt-3 row justify-content-center">
            <button type="button" class="btn btn-primary btn-lg">¡¡Empieza tu prueba ahora mismo!!</button>
          </div>
        </div>
      </div>
</body>
<footer>
  <div class="container">
    <span class="text-muted">
      <div class="row">
        <div class="col-md-3">
          <h4>Siguenos</h4>
            <ul>
              <li><img src="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Static/img/FB.png" alt="" width="50px" height="50px"></li>
              <li><img src="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Static/img/IG.png" alt="" width="50px" height="50px"></li>
              <li><img src="C:/Users/Alanm/Documents/Padre/AlfasClass/Alfas/Static/img/TW.png" alt="" width="50px" height="50px"></li>
            </ul>
        </div>
        <div class="col-md-3">
          <h4>Compañia</h4>
          <ul class="list-group">
            <li class=""><a class="" href="#"><h6>Acerca de</h6></a></li>
            <li class=""><a class="" href="#"><h6>Empleos</h6></a></li>
            <li class=""><a class="" href="#"><h6>For the record</h6></a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Comunidades</h4>
          <ul class="list-group">
            <li class=""><a class="" href="#"><h6>Servicios para artistas</h6></a></li>
            <li class=""><a class="" href="#"><h6>Desarrolladores</h6></a></li>
            <li class=""><a class="" href="#"><h6>Marcas</h6></a>
            <li class=""><a class="" href="#"><h6>Inversionistas</h6></a></li>
            <li class=""><a class="" href="#"><h6>Proveedores</h6></a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4>Enlaces</h4>
          <ul class="list-group">
            <li class=""><a class="" href="#"><h6>Ayuda</h6></a></li>
            <li class=""><a class="" href="#"><h6>Reproductor web</h6></a></li>
            <li class=""><a class="" href="#"><h6>App móvil gratis</h6></a></li>
          </ul>
        </div>
    </span>
  </div>
</footer>
</html>